*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:#5F45BF;
    height:100vh;
}
h1{
    color:white;
    text-align:center;
    font-size:50px;
    background-color:#081624;
    height:80px;
    top:50px;
}

.boxes{
    background-color:transparent;
    width:auto;
    height:auto;
    margin-top:25px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    
}
.box{
    width:auto;
    height:auto;
    background-color:transparent;
    display:flex;
}
.check{
    width:125px;
    height:150px;
    border:2px solid black;
    background-color:transparent;
    font-size:3em;
    font-weight: 900;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.left{
    border-left: none;
}  

.right{
    border-right: none;
}
    
.up div{
    border-top: none;
}

.down div{
    border-bottom:none ;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: #E558ED;
    margin-top: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}