*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: #351854;
}

.menu h1{
    font-size: 3em;
    font-weight: 900;
    color: white;
    text-align: center;
    padding: 50px 0;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding: 25px;
    width: auto;
    height: auto;
}
.menu a:hover{
    background-color: rgb(241, 9, 183);
    font-size: 2.5em;
}
#flip{
    margin: 50px 0;
}
.item{
    width: 50%;
    height: auto;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item div{
    margin: 25px;
}

@media screen and (max-width:500px) {
    .item{
        width:100%;
    }
}
