<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>some issue</title>
    <style>
        .text{
        text-align:center;
        }
        #a{color:#FADB34;
           text-decoration:none;
           text-align:center;}
    </style>
</head>
<body style="background-color:rgb(121, 22, 212);">
<h1 class="text">Soory!</h1>
<h1 class="text">Our service is under maintainace. we are soory for your unconvienent.</h1>
<h1 class="text">Please try after some days!</h1>

<h1 class="text"><a href="/" id="a"> Click To Home</a> </h1>

</body>
</html>